@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile" title="@context.User.Identity.Name">
            <i class="oi oi-person"></i> Account
        </a>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">
            <i class="oi oi-account-logout"></i> Log out
        </button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">
            <i class="oi oi-pencil"></i> Register
        </a>
        <a href="authentication/login">
            <i class="oi oi-account-logout"></i> Log in
        </a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
